// type
$base:  14px;
$small: 12px;
$line:  $base * 1.5;

$sans:  "Droid Sans", Verdana, Helvetica, Arial, sans-serif;
$serif: "Droid Serif", "Georgia", serif;

$grey:   #999;
$border: #cdcdc1;
$red:    #F00;
$blue:   #38688f;

body { font: normal normal #{$base}/#{$line} $sans; margin: 0; padding: 0; }

header, footer, section, article, aside { display: block; }

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, pre, form, fieldset, label {
  margin: 0; font-size: $base; line-height: $line; text-align: justify; }
h1, h2, h3 { font-family: "EB Garamond", $serif; color: #333; }
h1, h2, h3, p, ul, ol, pre { margin: 0 0 $line 0; }
h1 { font-size: $base * 2.5; line-height: $line * 2; }
h2 { font-size: $base * 2;   line-height: $line * 2; }
h3 { font-size: $base * 1.5; line-height: $line; }

a { color: $blue;  text-decoration: none; }
h1 a, h2 a { color: inherit; }

img { border: 0; }
hr { border: dotted $border; border-width: 1px 0 0 0; margin: 0;
  height: $line - 1; line-height: $line; }

// design
body { background: #EEEEE0; color: #222; }

#header { max-width: 918px; margin: $line auto; padding: 0 $line; }
#header h1 { margin: 0; font-size: $line * 2; text-shadow: 0 1px 0 #FFF; color: #b22222; }
#header h1 span { font-size: $base * 2; color: $grey; margin-left: $line; }
#header a { color: inherit; }
#main { max-width: 918px; margin: $line auto; padding: $line; background: #FFF;
  -webkit-box-shadow: 0 0 6px $border; -moz-box-shadow: 0 0 6px $border; box-shadow: 0 0 6px $border; }

#content, #sidebar { display: inline-block; width: 100%; vertical-align: top; }
#content { max-width: 598px; margin-right: 38px; }
#sidebar { max-width: 278px; padding-top: $line; }

#content h1 { margin-top: 0; }

//#sidebar h3 { color: $red; }
#sidebar p { font-family: $serif; font-style: italic; }
#latest-posts article { margin-bottom: $line; }
#latest-posts h4, #latest-posts p { margin: 0; display: inline; color: $grey; }

p.date { color: $grey; margin: -$line 0 0; text-align: right;
  font-family: $serif; font-style: italic; }

article.post { margin-bottom: $line * 2; }

// forms
input, textarea { border: 1px solid $grey; margin: 0;  padding: 0; font: inherit;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
  -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
  width: 634px;
}
input { line-height: $line - 2; }
input.big { font-size: $base * 2; line-height: $line * 2 - 2; }
textarea { vertical-align: top; margin-bottom: -2px; }

input[type=submit] { font-size: $base; margin: -2px 0; padding: 2px 10px;
   width: auto; border-style: outset;
  -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;
}
input[type=submit]:active { border-style: inset; }
input[type=submit].default { font-weight: bold; }

label { display: block; color: $grey; line-height: $line; }
div.field, div.actions { margin-bottom: $line; }

// comments
.column { display: inline-block; vertical-align: top; width: 100%; }
.column.left { margin-right: 36px; }
.column.left,  .column.left input,  .column.left  textarea { max-width: 358px; }
.column.right, .column.right input, .column.right textarea { max-width: 198px; }

// actions
.actions { list-style: none; padding-left: 0; font-size: $small; }
.actions li { display: inline; }
.actions a { display: inline-block; font-size: $small; padding: 0 8px;
  -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
}
.actions a { background: rgba($red, 0.1); color: $red; }
.actions a:hover { background: $red; color: white; }
.actions .anon a { background: rgba($blue, 0.1); color: $blue; }
.actions .anon a:hover { background: $blue; color: white; }

// dev
.translation_missing { background: rgba(255, 140, 0, 0.25); }

//#main {
//  background: { image: url(/grid_21px.png); repeat: repeat-y; position: 0 0; }
//}
//h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, pre, form, fieldset, label { background: rgba(255, 0, 0, 0.1); }
//div.field, div.actions { background: rgba(0, 0, 255, 0.1); }

